<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <h1>Board Create</h1>
    <!-- type : email, search, url, tel => 자동 검증 해줌 
        novalidate : 자동검증 안하게 막음  -->
    <form method="post" th:object="${dto}" th:action="@{/board/create}" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></div>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="10">[[${dto.content}]]</textarea>
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"></label>
        <input type="hidden" class="form-control" id="email" name="email" th:value="${#authentication.name}" />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Writer</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          th:value="${#authentication.principal.name}"
          readonly
        />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <a
        class="btn btn-success"
        th:href="@{list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
        >List</a
      >
    </form>
    <div class="row mt-3">
      <h5 class="my-3">Comment : <span th:text="${dto.replyCount}"></span></h5>
      <div class="replyList boarder px-2">
        <!-- 댓글 목록 -->
      </div>
    </div>
  </div>
</html>
